<div class="head">
    <h3><strong>Bakhresa</strong>, Mtwara Ice cream Factory employee Management System!</h3>
</div>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-9">
            <span><button class="btn btn-outline-dark btn-sm m-2" routerLink="/production-dept">Production Dept</button>
            <button class="btn btn-outline-dark btn-sm m-2" routerLink="/investment-dept">Investment Dept</button>
            <button class="btn btn-outline-dark btn-sm m-2" routerLink="/marketing-dept">Marketing Dept</button>
            <button class="btn btn-outline-dark btn-sm m-2" routerLink="/technical-dept">Technical Dept</button>
            <button class="btn btn-outline-dark btn-sm m-2" routerLink="/HumRes-dept">H & R Dept</button></span>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col">
            <p style="text-align: center; font-family:'Times New Roman', Times, serif;"><strong>Bakhresa, ICE CREAM!</strong></p>
            <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><b style="font-family:cursive ;">Bakhresa Mtwara Ice cream</b> is a second huge factory and best to produce the high and standard Ice cream compared to other Bakhresa factory in Tanzania.</p>
                <b><em>Examples of Our Product </em> (ICE Cream)</b>
                <ul>
                    <li>Vanillar Ice cream </li>
                    <li>Chocolate Ice cream </li>
                    <li>Cookies & Cream Ice Cream</li>
                    <li>Mint Chocolate Chip</li>
                    <li>Buttered Pecan</li>
                    <li>strawberry</li>
                    <li>Moose tracks</li>
                    <li>Neoplitan</li>
                </ul>

        </div>
    </div>
</div>
<hr>
<div class="footer">
    <h6><small>Phone No: 0783870096</small></h6>
    <h5>Email: kamashogodfrey997@gmail.com</h5>
</div>
