h1{
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
}
input{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
.header{
  text-align: center;
}
.container{
  margin-top: 10px;
}
